.AppRoot {
  width: 100%;
  max-width: 600px;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 80px auto;
  padding: 24px;
  background-color: #f3f2f2;
}

.AppTitle {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
